body {
  margin: 0px;
}

h1 {
  font-family: "Montserrat", sans-serif;
}

.post-container {
  background-color: #fffafa;
  width: 70%;
  height: 100%;
  margin: 0px auto 0px auto;
}

.post-container .post {
  padding-top: 20px;
  margin-bottom: 50px;
  padding-left: 50px;
}

.post-container .date {
  font-family: "Roboto", sans-serif;
  color: #008080;
}

.post-container div.post-content {
  font-family: "Open Sans", sans-serif;
  width: 90%;
  font-weight: normal;
}
