body {
  background-color: #2c3e50;
}
h1 {
  color: #ffffff;
}

h2 {
  border: 2px solid;
  background-color: #f1c40f;
  color: black;
}

h3 {
  color: #f1c40f;
}

li {
  color: #ffffff;
}

#astronomy-class {
  color: #e74c3c;
}
