p {
  font-family: "Merriweather", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 2;
}

h1 {
  text-align: center;
  border: 2px;
  border-style: dashed;
  font-family: "Playwrite IN Guides", sans-serif;
  margin: 45px auto 200px auto;
  width: 80%;
  line-height: 3;
}
