body {
  background-image: url("img/img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.yellow-text {
  color: orange;
  font-size: 40px;
}

.big-text {
  font-size: 60px;
  color: white;
}

#europa-text {
  font-size: 30px;
  color: blue;
}

 li {
  color: #503050;
}
/*
h1 {
  font-size: 50px;
  border-color: yellow;
  border-style: dashed;
  border-width: 2px;
}
h4 {
  font-size: 30px;
  background-color: grey;
}

